*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.container{
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width: 400px;
    padding: 30px;
    align-items: center;

}

.text-color{
    font-size: 50px;
    font-weight: bold;
}

.btn{
    font-size: 30px;
    border-radius: 30px;
    padding: 5px;
}
